{% extends "::base.html.twig" %}

{% block title %}TunisiaMallAdministrationBundle:PackPublicitaire:CreerPack{% endblock %}

{% block body %}
<h1>Welcome to the PackPublicitaire:CreerPack page</h1>
{% endblock %}
