{% extends "::base.html.twig" %}

{% block title %}TunisiaMallAdministrationBundle:PackPublicitaire:DefinirZonePublicitaire{% endblock %}

{% block body %}
<h1>Welcome to the PackPublicitaire:DefinirZonePublicitaire page</h1>
{% endblock %}
