{% extends "::base.html.twig" %}

{% block title %}TunisiaMallAdministrationBundle:PackPublicitaire:ModifierPack{% endblock %}

{% block body %}
<h1>Welcome to the PackPublicitaire:ModifierPack page</h1>
{% endblock %}
