{% extends "::base.html.twig" %}

{% block title %}TunisiaMallAdministrationBundle:PackPublicitaire:Supprimer{% endblock %}

{% block body %}
<h1>Welcome to the PackPublicitaire:Supprimer page</h1>
{% endblock %}
