{% extends "TunisiaMallBundle::layout.html.twig" %}
{% block content %}
    {% for boutique in magazins %}
        <li>
            <a href=""> {{boutique.nom}} </a>
        </li>
    {% endfor %}
    
{% endblock content %}
 